/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    box-sizing: border-box;
    min-height: fit-content;
    overflow-x: hidden;
    overflow: hidden;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */
#profile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url("../assets/cubes-2492010_1920.jpg");
    background-size: cover;
    background-position: center;
    /* This keeps the image centered */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20%;
    color: white;
    padding: 60px 0;
    /* Add padding for space */
}

.profile-pic-container {
    border-radius: 50%;
    /* Make the container circular */
    overflow: hidden;
    /* Hide any overflow */
    display: flex;
    /* Use flex to center the image */
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
    border: 2px solid #fff;
    /* Optional: Add a border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Optional: Add a shadow */
}

.profile-pic {
    width: 100%;
    /* Ensure the image covers the container */
    height: auto;
    /* Maintain the aspect ratio */
    object-fit: cover;
    /* Cover the entire container */
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    /* For an animated gradient */
    background: linear-gradient(90deg, #fff, #7ea5db, #fff);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.title {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    /* Change this to max-width */
    max-width: 100%;
    /* Ensure it doesn't exceed its container */
    white-space: nowrap;
    /* Prevents wrapping to a new line */
    overflow-x: hidden;
    overflow: hidden;
}


#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem'

}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(255, 255, 255) 0.1rem solid;
    /* color: rgb(53, 53, 53); */
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(112, 112, 112);
    color: white;
}

.btn-color-1:hover {
    cursor: pointer;
    background: white;
    color: black;
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
    padding: 60px 0;
    /* Add padding for space */
}

.bootgrid {
    margin-top: 20px;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    /* Needs to be linked to position: relative section */
    right: -5rem;
    bottom: 2.5rem;
    /* -5 rem, +2.5 rem from bottom right corner */
}

.details-container {
    /* Centers the projects correctly */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center content horizontally */
    justify-content: center;
    /* Center content vertically */

    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    height: 100%;
    /* Ensure equal height */
    font-size: 100%;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
    padding: 60px 0;
    /* Add padding for space */
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    /* Makes the experiences horizontal */
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    /* Aligns the elements in the articles (image, h3, p) */
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
    padding: 60px 0;
    /* Add padding for space */
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    object-fit: contain;
    border-radius: 2rem;
    width: 90%;
    height: auto;
}

.project-title {
    margin: 1rem;
    color: black;
}

.scroll-top .navbar {
    background-color: transparent !important;
}

.bootcarousel {
    margin-top: 20px;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
    border-radius: 5%;
}

.carousel-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.carousel-caption {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    /* brings caption text to the front */
}


/* CONTACT SECTION */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 60px 0;
    /* Add padding for space */
}

#contact a:hover {
    color: darkgray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    /* how far the underline is from the bottom of text */
    text-decoration-color: rgb(181, 181, 181);
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
    margin: 0;
}

.contact-info-container img:hover {
    cursor: default;
}

/* To make the email icon as big as LinkedIn */

.email-icon {
    height: 2.5rem
}

/* FOOTER SECTION */

footer {
    margin-top: 30px;
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}