/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* "*" adds the style to the WHOLE page */

* {
  margin: 0;
  padding: 0;
}

body {
  /* Can download a font off Google Fonts */
  font-family: "Poppins", sans-serif;
  background-color: rgb(100, 131, 131);
  /* background-color: rgb(179, 189, 188); */
}

html {
  /* So when we add the links to sections in our page it won't instantly go there, 
   it will scroll down smoothly. */
  scroll-behavior: smooth;
}

p {
  /* Color of paragraph text */
  color: rgb(85, 85, 85);
}

/* TRANSITION */

/* When you click on these elements, they have a transition
that will change between two styles and not be instantaneous */
a,
.btn {
  transition: all 300ms ease;
}

.bg {
  background-color: rgb(60, 91, 91);
  /* for different colored sections */
}
