/* DESKTOP NAVIGATION */

/* Creates a flex container with all of the nav components - logo and list */
nav,
.nav-links {
  display: flex;
}

/* Applies to all <nav> containers */
footer nav {
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  gap: 2rem;
  /* rem is a front-end unit of measurement. related to pixels */
  list-style: none;
  font-size: 1.5rem;
  /* By default, paragraph text is 1 rem */
}

/* link text */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: underline;
  text-underline-offset: 1rem;
  /* how far the underline is from the bottom of text */
  text-decoration-color: rgb(181, 181, 181);
}